<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div class="main_content">
            <h>Register as Captain</h>
            <p>To create a team for this event, you must first become a Team Captain. By clicking the button below, you will become a Team Captain. You will not be able to participate as a runner for anyone else's team, only your own. </p>
            <form method="POST">
                <button>I Understand</button>
            </form>
        </div>
    </body>
</html>