<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/css/registration2.css">
</head>

<body>
    <div class="registration">
        <h3>Reset Your Password</h3>
        <p class="inner_text">Enter your email, and we will send you a password reset link.</p>
        <form method="POST">
            <input type="text" class="text_input" name="email" placeholder="Enter your Email">
            <button class="submit">Send Reset Link</button>
        </form>
    </div>
    <div class="extra_text">
        <p>Didn't get it? Double check your spam/junk folders.</p>
    </div>
    <div class="flashes">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</body>

</html>