<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/css/registration_captain.css">
  </head>
  <body>
    <div class="registration">
      <h3>Create an account</h3>
      <form method="POST">
        <input type="text" class="text_input" name="email", placeholder="Email">
        <input type="text" class="text_input" name="username", placeholder="Username">
        <input type="password" class="text_input" name="password", placeholder="Password">
        <input type="text" class="text_input" name="team_id", placeholder="Team ID">
        <input type="password" class="text_input" name="team_token", placeholder="Team Token">
        <button class="submit">Register</button>
      </form>
    </div>
    <div class="have_an_account">
      <p>Have an account? <a href="{{ url_for('login') }}">Sign in</a></p>
    </div>
    <div class="flashes">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    </div>
  </body>
</html>
