<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="/static/css/registration.css">
  <script src="/static/js/registration_runner.js"></script>
</head>

<body>
  <div class="registration">
    <h3>Register as Runner</h3>
    <p class="inner_text">Please fill in the following information to become a member of a team.</p>
    <form method="POST">
      <input type="text" class="text_input" name="first_name" placeholder="First Name"
        value="{{ user_info['first_name'] }}" required>
      <input type="text" class="text_input" name="last_name" placeholder="Last Name"
        value="{{ user_info['last_name'] }}" required>
      <div class="date_row">
        <select name="birthyear" class="short_dropdown" required>
          {% if not user_info['birthdate'] %}
          <option disabled selected value> -- birth year --</option>
          {% else %}
          <option disabled>-- birth year --</option>
          <option selected>{{ user_info['birthdate'].split("-")[0] }}</option>
          {% endif %}
          {% for i in range(1900, 2011) %}
          <option value="{{ i }}">{{ i }}</option>
          {% endfor %}
        </select>
        <select name="birthmonth" class="short_dropdown" required>
          {% if not user_info['birthdate'] %}
          <option disabled selected value> -- birth month --</option>
          {% else %}
          <option disabled>-- birth month --</option>
          <option selected>{{ user_info['birthdate'].split("-")[1] }}</option>
          {% endif %}
          {% for i in range(1, 13) %}
          <option value="{{ i }}">{{ i }}</option>
          {% endfor %}
        </select>
        <select id="birthday" name="birthday" class="short_dropdown" required>
          {% if not user_info['birthdate'] %}
          <option disabled selected value> -- birth day --</option>
          {% else %}
          <option disabled>-- birth day --</option>
          <option selected>{{ user_info['birthdate'].split("-")[2] }}</option>
          {% endif %}
          {% for i in range(1, 32) %}
          <option value="{{ i }}">{{ i }}</option>
          {% endfor %}
        </select>
      </div>
      <select name="gender" class="dropdown" required>
        {% if not user_info['gender'] or user_info['gender'] not in genders_mapping %}
        <option disabled selected value>Gender</option>
        {% else %}
        <option selected value="{{ user_info['gender'] }}">{{ genders_mapping[user_info['gender']] }}</option>
        {% endif %}
        {% for gender in genders_mapping %}
        {% if gender != user_info['gender'] %}
        <option value="{{ gender }}">{{ genders_mapping[gender] }}</option>
        {% endif %}
        {% endfor %}
      </select>
      <input type="text" class="text_input" name="phone_number" placeholder="Phone Number"
        value="{{ user_info['phone_number'] }}" required>
      <input type="text" class="text_input" name="emergency_name" placeholder="Emergency Contact Name"
        value="{{ user_info['emergency_name'] }}" required>
      <input type="text" class="text_input" name="emergency_phone" placeholder="Emergency Phone"
        value="{{ user_info['emergency_phone'] }}" required>

      <select name="team_id" class="dropdown" required>

        {% if not team_id %}
        <option disabled selected value> -- select a team -- </option>
        {% else %}
        <option selected value="{{ team_id }}">{{ team_id }} {{ team_name }} {{ team_division }}</option>
        {% endif %}
        {% for team in teams %}
        <option value="{{ team['id'] }}">{{ team['id'] }} {{ team["team_name"] }} ({{ team["division"] }})</option>
        {% endfor %}
      </select>
      <input type="password" class="text_input" name="team_token" placeholder="Team Code" value="{{ token }}" required>
      <div class="waiver_block">
        <a href="#" onclick="openWaiver(); return false;">Open waiver</a>
        <label class="waiver_label" for="waiverCheckbox">
          <input type="checkbox" id="waiverCheckbox" name="waiver_agreed" disabled>
          By clicking this checkbox, I indicate that I have read and understand the waiver
        </label>
      </div>
      <button id="joinTeamButton" class="submit">Join this Team</button>
    </form>
  </div>
  <div class="extra_text">
    <p>If you don't know your Team ID / Team Code, ask your team captain.</p>
    <p>Have an account? <a href="{{ url_for('login') }}">Sign in</a></p>
  </div>
  <div class="flashes">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>
</body>

</html>