<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/static/css/registration2.css">
  <script src="/static/js/registration_runner6.js"></script>
</head>

<body>
  <div class="registration">
    <h3>Register as Runner</h3>
    <p class="inner_text">Please fill in the following information to become a member of a team.</p>
    <form method="POST">
      <input type="text" class="text_input" name="first_name" placeholder="First Name"
        value="{{ user_info['first_name'] }}" required>
      <input type="text" class="text_input" name="last_name" placeholder="Last Name"
        value="{{ user_info['last_name'] }}" required>
      <div class="date_row">
        <select name="birthyear" class="short_dropdown" required>
          {% if not user_info['birthdate'] %}
          <option disabled selected value> -- birth year --</option>
          {% else %}
          <option disabled>-- birth year --</option>
          <option selected>{{ user_info['birthdate'].split("-")[0] }}</option>
          {% endif %}
          {% for i in range(1900, 2011) %}
          <option value="{{ i }}">{{ i }}</option>
          {% endfor %}
        </select>
        <select name="birthmonth" class="short_dropdown" required>
          {% if not user_info['birthdate'] %}
          <option disabled selected value> -- birth month --</option>
          {% else %}
          <option disabled>-- birth month --</option>
          <option selected>{{ user_info['birthdate'].split("-")[1] }}</option>
          {% endif %}
          {% for i in range(1, 13) %}
          <option value="{{ i }}">{{ i }}</option>
          {% endfor %}
        </select>
        <select id="birthday" name="birthday" class="short_dropdown" required>
          {% if not user_info['birthdate'] %}
          <option disabled selected value> -- birth day --</option>
          {% else %}
          <option disabled>-- birth day --</option>
          <option selected>{{ user_info['birthdate'].split("-")[2] }}</option>
          {% endif %}
          {% for i in range(1, 32) %}
          <option value="{{ i }}">{{ i }}</option>
          {% endfor %}
        </select>
      </div>
      <select name="gender" class="dropdown" required>
        {% if not user_info['gender'] or user_info['gender'] not in genders_mapping %}
        <option disabled selected value>Gender</option>
        {% else %}
        <option selected value="{{ user_info['gender'] }}">{{ genders_mapping[user_info['gender']] }}</option>
        {% endif %}
        {% for gender in genders_mapping %}
        {% if gender != user_info['gender'] %}
        <option value="{{ gender }}">{{ genders_mapping[gender] }}</option>
        {% endif %}
        {% endfor %}
      </select>
      <input type="text" class="text_input" name="phone_number" placeholder="Phone Number"
        value="{{ user_info['phone_number'] }}" required>
      <input type="text" class="text_input" name="emergency_name" placeholder="Emergency Contact Name"
        value="{{ user_info['emergency_name'] }}" required>
      <input type="text" class="text_input" name="emergency_phone" placeholder="Emergency Phone"
        value="{{ user_info['emergency_phone'] }}" required>

      <select name="shirt_size" class="dropdown" required>
        {% if not user_info['shirt_size'] %}
        <option disabled selected value> -- shirt size -- </option>
        {% else %}
        <option selected value="{{ user_info['shirt_size']}}">{{ user_info['shirt_size'] }}</option>
        {% endif %}
        {% for size in ("S", "M", "L", "XL", "XXL") %}
          {% if not user_info['shirt_size'] or size != user_info['shirt_size'] %}
          <option value="{{ size }}">{{ size }}</option>
          {% endif %}
        {% endfor %}
      </select>

      <select name="team_id" class="dropdown" required>

        {% if not team_id %}
        <option disabled selected value> -- select a team -- </option>
        {% else %}
        <option selected value="{{ team_id }}">{{ team_id }} {{ team_name }} {{ team_division }}</option>
        {% endif %}

        {% for team in owned_teams %}
        <option value="{{ team['id'] }}">{{ team['id'] }} {{ team["team_name"] }} ({{ team["division"] }})</option>
        {% endfor %}

        {% for team in teams %}
        <option value="{{ team['id'] }}" {% if owned_teams|length> 0 %}disabled{% endif %}>{{ team['id'] }} {{
          team["team_name"] }} ({{ team["division"] }})</option>
        {% endfor %}
      </select>
      <input type="password" class="text_input" name="team_token" placeholder="Team Code" value="{{ token }}" required>
      <div class="waiver_block">
        <a href="#" onclick="openWaiver(); return false;">Open waiver</a>
        <label class="waiver_label" for="waiverCheckbox">
          <input type="checkbox" id="waiverCheckbox" name="waiver_agreed" disabled>
          By clicking this checkbox, I indicate that I have read and understood the waiver
        </label>
      </div>
      <div class="parent_block">
        <h3 class="inner_title">Minor Participant Parent/Guardian Consent</h3>
        <input type="text" class="text_input" name="parent_name" placeholder="Parent/Guardian Full Legal Name">
        <input type="text" class="text_input" name="parent_relationship" placeholder="Relationship to Participant">
        <p class="inner_bonus_text">
          I, the undersigned parent/legal guardian of the minor participant, hereby grant full permission for this
          child to take part in the Vancouver Sun Run event. I acknowledge that I fully understand all event risks,
          hazards and safety rules of the race. I agree to release the Vancouver Sun Run organizing committee, its
          staff, sponsors and venue operators from any liability for injury, accident or loss occurring during the
          event. I confirm I have the full legal authority to sign this consent on behalf of the minor.
        </p>
        <label class="waiver_label" for="parentCheckbox">
          <input type="checkbox" id="parentCheckbox" name="parent_agreed">
          I have read, understood, and agree to the above parent/guardian consent statement.
        </label>
        <p class="inner_bonus_text">Please enter your full legal name below to act as your electronic signature. </p>
        <input type="text" class="text_input" name="parent_confirm_name"
          placeholder="Re-Enter Parent/Guardian Full Legal Name">
        <p class="inner_bonus_text">Please only enter letters, spaces, and hyphens and apostrophes. No numbers or
          special characters.</p>
      </div>
      <button id="joinTeamButton" class="submit">Join this Team</button>
    </form>
  </div>
  <div class="extra_text">
    <p>If you don't know your Team ID / Team Code, ask your team captain.</p>
    <p>Have an account? <a href="{{ url_for('login') }}">Sign in</a></p>
  </div>
  <div class="flashes">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>
</body>

</html>