<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/css/title_then_list.css">
  </head>
  <body>
      <div class="top_bar_info">
        <div class="top_bar_insides">
          <a href="{{ url_for('index') }}">Home Page</a>
          {% if is_captain %}
            <a href="{{ url_for('teams') }}">My Teams</a>
          {% endif %}
          <a href="{{ url_for('profile') }}">Profile</a>
        </div>
      </div>
      <div class="flashes">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <p>{{ message }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
      <div class="top_info">
        <h3>Team {{ team["team_name"] }}</h3>
      </div>
      <div class="team_info_box">
        <p class="inner_text">Team ID: {{ team["id"] }}</p>
        <p class="inner_text">Team Division: {{ team["division"] }}</p>
        {% if team["paid"] %}
          <p class="inner_text">Team Fee Paid: Yes</p>
        {% else %}
          <p class="inner_text">Team Fee Paid: No</p>
        {% endif %}
        <p class="inner_text">Team Email: {{ team["email"] }}</p>
        {% if is_captain %}
          <div class="token_regeneration">
            <a class="top_button" href="{{ url_for('team_token_reset',team_id=team['id']) }}">Regenerate Team Token</a>
            <p class="inner_note">Invalidate your old token and create a new one.</p>
          </div>
          {% if not team["paid"] %}
          <div class="payment">
            <a class="top_button" href="{{ url_for('team_payment',team_id=team['id'])}}">Team Payment</a>
          </div>
          {% endif %}
        {% endif %}
      </div>
      <div class="bottom_info">
        <h3>Members:</h3>
      </div>
      <div class="bottom_list">
        {% for member in members %}
          <div class="bottom_list_item">
            <p class="title">{{ member["position"] }} {{ member["email"] }}</p>
            <div class="bottom_list_insides">
              <p class="muted">{{ member["first_name"] }} {{ member["last_name"] }}</p>
              <p class="muted">Age: {{ member["age"] }}</p>
              <p class="muted">Gender: {{ member["gender"] }}</p>
              <p class="muted">Phone: {{ member["phone_number"] }}</p>
              <p class="muted">Emergency Phone: {{ member["emergency_phone"] }}</p>
              <p class="muted"></p>
              {% if is_captain %}<form method="POST" action="{{ url_for('delete_from_team') }}" class="right_form">
                <input type="hidden" name="team_id" value="{{ team['id'] }}">
                <input type="hidden" name="member_id" value="{{ member['user_id'] }}">
                <button class="button red_button">Remove</button>
              </form>
              <form method="POST" action="{{ url_for('move_team_member_up') }}" class="right_form">

                <input type="hidden" name="team_id" value="{{ team['id'] }}">
                <input type="hidden" name="member_id" value="{{ member['user_id'] }}">
                <button class="button">Move Up</button>            
              </form>{% endif %}
            </div>
          </div>
          
        {% endfor %}
      </div>
  </body>
</html>
