<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/static/css/title_then_list.css">
</head>

<body>
  <div class="top_bar_info">
    <div class="top_bar_insides">
      <a class="top_bar_normal" href="{{ url_for('index') }}">Home Page</a>
      <a class="top_bar_normal" href="{{ url_for('profile') }}">Profile</a>
    </div>
  </div>
  <div class="top_info">
    <div>
      <h3>Welcome {{ username }}.</h3>
      <p>The teams you currently manage are below:</p>
    </div>
    <a href="{{ url_for('team_registration') }}" class="top_button">Create Team</a>
  </div>
  <div class="bottom_list">
    {% for team in teams %}
    <div class="bottom_list_item">

      <p class="title">{{ team["team_name"] }}</p>
      <a href="{{ url_for('team_information', team_id=team['id']) }}" class="button">Manage</a>
    </div>
    {% endfor %}
  </div>
</body>

</html>