<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/css/team_created.css">
  </head>
  <body>
    <div class="main_block">
      <div class="main_top_info">
        <h3>Token successfully changed</h3>
        <p class="info_label">This is the new token for your team.</p>
      </div>
      <div class="main_center_info">
        <p class="info_label">Team Code:</p>
        <p class="important_info">{{ team_token }}</p>
        <p class="dangerous">Do NOT lose your team code! You cannot view it after you leave this page!</p>
      </div>
      <div class="main_bottom">
        <a href="{{ url_for('team_information', team_id=team_id) }}"><button>Continue</button></a>
      </div>
    </div>
    <div class="flashes">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    </div>
  </body>
</html>
