<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/css/generic_information_page4.css">
</head>

<body>

    <div class="bottom_panel">
        <div class="main_content">
            <h3 class="inner_title">
                Perform Team Payment
            </h3>
            <p class="inner_text">You are about to pay for your team <b>{{team_info["team_name"]}}</b>
                {{team_info["division"]}}. Please make sure this is correct before proceeding. Once you press the "Pay
                Now" button below, you will be redirected to Stripe to complete the payment. </p>
            <form method="POST">
                <input type="hidden" name="team_id" value="{{ team_info['id'] }}">
                <button class="button">Pay Now</button>
            </form>
            <h3 class="inner_title">Other Methods</h3>
            <p class="inner_text">Alternatively, you may choose to e-transfer the fee to <b>vancouverrun@gmail.com</b>. Please do so from the same email you used to make the captain account!</p>
            <a class="button" href="{{ url_for('team_information', team_id=team_info['id']) }}">Go to Team Information</a>
        </div>
    </div>

</body>

</html>