<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/css/generic_information_page.css">
</head>

<body>
    <div class="top_panel">
        <h1 class="main_title">Volunteer Registration</h1>

        {% if not volunteer_registration_exists %}
        <p class="inner_text">You don't have a volunteer registration yet! Click here to make one.</p>
        <a class="button" href="{{ url_for('volunteer_registration') }}">Register as Volunteer</a>
        {% else %}
        <p class="inner_text">You have an ongoing volunteer registration! Click here to view or edit it.</p>
        <a class="button" href="{{ url_for('volunteer_registration') }}">Edit my Registration</a>
        {% endif %}
    </div>
    <div class="flashes">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</body>

</html>